
<h3 class="justify-content-center">Connecting Women In Need with resources in Houston</h3>

<div class="container">
     <div class="row">

        <div class="col-5">
            <h3> Are you a woman in need of help?</h3>
            <h4>If you are located in the Houston area and need help finding services to help you in your time of need, click here to search for help.</h4>
            <a href="/resources" class="indexlinks">Find Help!</span></a>
        </div>

        <div class="col-2"></div>

        <div class="col-5">
             <h3> Are you an organization with resources?</h3>
             <h4>If you are located in the Houston area and have resources to offer women in need, we can help you make that connection. Click here to register.</h4>
            <a href="/users/register" class="indexlinks"> Register</a>
        </div>

    </div>
  
</div>