<h2>User Registration</h2>

<form method="post" action="register">
    <div class="form-group">
        <label>Name</label><br>
        <input type="text" placeholder="name">
    </div>
    <div class="form-group">
        <label>Username</label><br>
        <input type="text" placeholder="username">
    </div>
    <div class="form-group">
        <label>Email</label><br>
        <input type="email" placeholder="email">
    </div>
    <div class="form-group">
        <label>Password</label><br>
        <input type="password" placeholder="password" name="password">
    </div>
    <div class="form-group">
        <label>Confirm password</label><br>
        <input type="password" placeholder="password" name="password2">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>