<h2>Login</h2>

<form method="post" action="/users/login">
<label>name</label>
<input type="text" placeholder="name">
<label>username</label>
<input type="text" placeholder="username">
<label>email</label>
<input type="email" placeholder="email">
<label>password</label>
<input type="password" placeholder="password" name="password">
<label>Confirm password</label>
<input type="password" placeholder="password" name="password2">
<button type="submit" class="btn btn-default">Submit</button>
</form>